<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
    <title>Profile</title>
</head>
<body class="animsition">
<!--header-->
<div th:replace="includes/header :: header (vm=${changePassword.getLayoutHeaderVM()})"></div>
<!--end header-->
<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b-30">
                <form class="leave-comment" th:action="@{/profile/change-password}" th:object="${changePassword}" method="post">
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div th:if="${param.success}">
                                <div class="alert alert-primary m-b-20">
                                    Update success !!
                                </div>
                            </div>
                            <div th:if="${param.fail}">
                                <div class="alert alert-danger m-b-20">
                                    Update fail !!
                                </div>
                            </div>
                            <h4 class="m-text26 p-b-36 p-t-15">
                                Change Password
                            </h4>
                            <div class="s-text20 t-left m-b-20">
                                Current Password
                            </div>
                            <div class="bo4 of-hidden size15 m-b-20">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="currentPassword" th:field="*{currentPassword}" placeholder="Current Password">
                            </div>

                            <div class="s-text20 t-left m-b-20">
                                New Password
                            </div>
                            <div class="bo4 of-hidden size15 m-b-20">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="newPassword" th:field="*{newPassword}" placeholder="New Password">
                            </div>

                            <div class="s-text20 t-left m-b-20">
                                Confirm Password
                            </div>
                            <div class="bo4 of-hidden size15 m-b-20">
                                <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password">
                            </div>

                            <div class="w-size25 m-b-30">
                                <!-- Button -->
                                <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                                    Send
                                </button>
                            </div>

                            <div class="w-size26">
                                <!-- Button -->
                                <a th:href="@{/profile/detail}" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                                    Back to profile
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--include footer-->
<div th:replace="includes/footer :: footer"></div>
<!--end footer-->
<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/user/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/user/vendor/select2/select2.min.js}"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/user/js/map-custom.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/user/js/main.js}"></script>
</body>
</html>