<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/admin-head :: admin-head">
    <title>Home</title>
</head>
<body>
<div class="container-scroller">
    <div th:replace="includes/admin-navbar :: navbar"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="includes/admin-sidebar :: sidebar"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4>User</h4>
                                <button type="button" class="btn btn-outline-info btn-fw add-user-new"
                                        data-target="#exampleModal" data-toggle="modal">
                                    <i class="mdi mdi-upload"></i>Add User
                                </button>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th> STT</th>
                                        <th> Avatar</th>
                                        <th> User Name</th>
                                        <th> Full Name</th>
                                        <th> Email</th>
                                        <th> Gender</th>
                                        <th> Address</th>
                                        <th> Phone Number</th>
                                        <th> Created Date</th>
                                        <th> Role</th>
                                        <th> Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, iter : ${vm.getUserVMList()}">
                                        <td th:text="${iter.index + 1}"></td>
                                        <td class="py-1">
                                            <img th:src="${user.getAvatar()} ? ${user.getAvatar()} : '/link/no_image.jpg'"
                                                 alt="image">
                                        </td>
                                        <td th:text="${user.getUserName()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <span th:if="${user.getGender()} == 0">
                                                Undefine
                                            </span>
                                            <span th:if="${user.getGender()} == 1">
                                                Male
                                            </span>
                                            <span th:if="${user.getGender()} == 2">
                                                Female
                                            </span>
                                        </td>
                                        <td th:text="${user.getAddress()}"></td>
                                        <td th:text="${user.getPhoneNumber()}"></td>
                                        <td th:text="${user.getCreatedDate()}"></td>
                                        <td>
                                            <span th:if="${user.getRoleId()} == 1">
                                                Admin
                                            </span>
                                            <span th:if="${user.getRoleId()} == 2">
                                                User
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-secondary edit_user"
                                                    data-toggle="modal" data-target="#exampleModal" th:attr="data-id=${user.getUserId()}">
                                                <i class="mdi mdi-cloud-download"></i>
                                            </button>
                                            <button class="btn btn-danger" type="button">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="d-block">User Name</label>
                    <input type="text" id="input-user-userName"
                           class="form-control form-control-lg"
                           >
                </div>

                <div class="form-group">
                    <label class="d-block">Full Name</label>
                    <input type="text" id="input-user-name"
                           class="form-control form-control-lg"
                           placeholder="Name..">
                </div>

                <div class="form-group">
                    <label class="d-block">Gender</label>
                </div>

                <div class="form-group">
                    <label class="d-block">Email</label>
                    <input type="text" id="input-user-email"
                           class="form-control form-control-lg"
                           placeholder="Email..">
                </div>

                <div class="form-group">
                    <label class="d-block">Address</label>
                    <input type="text" id="input-user-address"
                           class="form-control form-control-lg"
                           placeholder="Address..">
                </div>

                <div class="form-group">
                    <label class="d-block">Phone Number</label>
                    <input type="text" id="input-user-phoneNumber"
                           class="form-control form-control-lg"
                           placeholder="Name..">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary btn-save-user">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/admin/assets/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/admin/assets/vendors/js/vendor.bundle.addons.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{/admin/assets/js/shared/off-canvas.js}"></script>
<script th:src="@{/admin/assets/js/shared/misc.js}"></script>
<!-- endinject -->

<script th:src="@{/admin/assets/js/admin-user.js}"></script>

<script type="text/javascript" th:src="@{/user/vendor/sweetalert/sweetalert.min.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!--===============================================================================================-->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>